.style-nav {
    background-color: #003754;
}

.btn-site {
    background-color: #326c8a;
}

.container {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.separator {
    background-color: #003754;
    display: inline-block;
    margin: 0;
    width: 5rem;
    height: 9px;
    margin-bottom: 4rem;
}

.welcome-conteiner {
    background-color: #003754;
    height: 450px;
}

.welcome-conteiner-after {
    background: #003754;
    height: 250px;
    clip-path: polygon(0px 0px, 100% 0px, 60% 70%, 90px calc(100% - 90px));
}

.benefits-blue {
    background-color: #003754;
    height: 450px;
}

.benefits-withe {
    background-color: #fff;
    height: 180px;
}

.benefits-image {
    background-image: url('../img/scream.png');
    width: 40rem;
    padding-top: 12rem;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-benefits {
    font-weight: 700;
    padding-top: 5rem;
}

.subtitle-benefits {
    font-weight: 700;
}

.text-benefits {
    font-weight: 300;
}

.benefits-2-conteiner {
    background-color: #eaf0f3;
    padding-top: 2;
    padding-bottom: 8rem;
}

.icon-picture {
    margin-top: 2.5rem;
    width: 7rem;
    height: auto;
}

.coments-conteiner {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.user-picture {
    width: 6.5rem;
    height: auto;
}

.review-user {
    font-style: oblique;
    font-weight: 100;
}

.register-conteiner {
    background-image: url('./../img/register.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 7rem;
    color: white;
    max-width: 2000px;
    height: 30rem;
}

.form-create {
    display: inline-flex;
}

.email-col {
    padding-top: 6rem;
}

.email-input {
    background-color: #fff !important;
    border-color: transparent !important;
}

.page-footer {
    padding: 0;
}

.links-footer {
    display: inline-flex;
}


li {
    padding-right: 0.8rem;
}